@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #aaa;
}

.container {
  margin: 10px;
  width: 800px;
  height: 400px;
  /* background-color: #e17701; */

  display: flex;
  flex-direction: column;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.container h1 {
  margin: 40px auto 0 auto;
  font-weight: 700;
  font-size: 2em;
  color: #fff;
}

.container p {
  margin: 60px auto 10px auto;
  font-size: 1.25em;
  color: #2e3131;
}

.container span {
  margin: 0 auto;
  color: #2e3131;
  font-size: 1.5em;
}

.container form {
  display: flex;
}

.container form input {
  margin: 60px auto 60px auto;
  /* text-align: center; */
  width: 400px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  outline: none;
  padding: 20px;
  color: #2e3131;
  font-size: 1.125em;
}

button {
  display: none;
}

.user_container {
  margin: 10px;
  width: 800px;
  height: 400px;
  /* background-color: #e17701; */

  display: flex;
  flex-direction: column;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.user{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.user div {
  margin: 5px 0;
  background: #fff;
}

.user .details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.user .details .info {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#fullname {
  font-size: 1.2rem;
  font-weight: bold;
}

.info div {
  display: flex;
  flex-direction: column;
}

.info div span {
  padding: 3px;
}

.info div p{
  width: 400px;
}

.posts {
  height: 240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  overflow:hidden; 
  overflow-y:scroll;
}

.posts li a img {
  padding: 7px;
  width: 200px;
  height: 200px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}